body{
    margin-top: 3rem;
    margin-left: 12rem;
    margin-right: 12rem;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: white;
    color: black;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  }
  /* Dark theme styles */
  .dark-mode {
    background-color: black;
    color: white;
  }
}