<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="/static/logo.png"/>
    <title>ReviewSnap</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <br>
    <br>
    <div class="Wrapper">
      <section>
        <article class="post">
          <h1 class="Title"><img src="/static/logo.png" alt="" height="100" width="100"> ReviewSnap</h1>
        <form action="/predict" method="post">
          <div class="Input">
            <input type="text" id="input" class="Input-text" placeholder="Enter Amazon Product Link" name="link">
            <label for="input" class="Input-label">Amazon Link</label>
            <div class="button-box">
                <button class="button" type="submit" value="submit">Generate Review Summary </button>
            </div>
        </form>
        
      </div>
    </article>
    </section>

    <div class="cautionText">
      Once you click submit, please wait as output might take 3-5 minutes to generate. 
      <br> If the [Tab : "ReviewSnap"] is showing loading,  then your output is being generated. Please wait
      <br> <br>Thank you for using ReviewSnap. Please give us good marks and we'll help you make good choices.
    </div>
        
	<script src="main.js"></script>
  <script src="themePredict.js"></script>
  </body>
</html>
