<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Review Snap</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <div class="Wrapper">
        <h1 class="Title">Review Snap</h1>
        <div class="Input">
          <input type="text" id="input" class="Input-text" placeholder="Enter Amazon Link">
          <label for="input" class="Input-label">Amazon Link</label>
        </div>
        <div class="button-box">
            <button class="button">Submit</button>
        </div>
      </div>
	<script src="index.js"></script>
  </body>
</html>
