<!DOCTYPE html>
<html lang="en">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet" type='text/css'>
  
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Review Snap</title>
    <link rel="stylesheet" href="/static/predict.css">
    </head>
  <body>
      <nav>
        <div class="theme-switch-wrapper">
             <label class="theme-switch" for="checkbox">
          <input type="checkbox" id="checkbox" />
          <div class="slider round"></div>
        </label>
          <em>&nbsp Dark Mode</em>
        </div>
      </nav>  
      <section>
          <article class="post">
            <h1>Review in a snap </h1>
            <!-- <h3> {{ prediction }} </h3> -->
            <h3> Review Snap generated for {{a}} <br><br> {{b}} <br><br> {{c}} <br><br> {{d}} <br><br> {{e}} </h3>
    <!-- {{ prediction }} is the final short summary of the product, it's text -->
        </article>
      </section>
      <script src="../themePredict.js"></script>
      
  </body>
</html>
